
.rendered_html h1, .rendered_html h2, .rendered_html h3, .rendered_html h4, .rendered_html h5
{
	line-height: 105%;
	font-weight: 600;
	font-style: normal;
	margin: 2px, 0, 4px, 0;
	padding: 0;
}


.rendered_html h1
{
	font-size: 1.7em;
	margin-top: 0px;
	margin-bottom: 8px;
	padding-bottom: 10px;
	color: #f7a800;
}

.rendered_html h2
{
	font-size: 1.5em;
	margin-top: 50px;
	color: #3390db;
}

.rendered_html h3
{
	font-size: 1.3em;
	margin-top: 40px;
	color: #f7a800;
}

.rendered_html h4
{
	font-size: 1.2em;
	font-style: italic;
	margin-top: 30px;
	color: #174e89;
}

.rendered_html h5
{
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 25px;
	color: #606060;
}

.rendered_html blockquote
{
	margin-left: 40px;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
}

.rendered_html img.splice {
	margin: 20px 0 20px 100px;
}

.rendered_html img.fitwidth {
	margin: 20px 20px 20px 20px;
	max-width: 90%;
}

.rendered_html img.fithalfwidth {
	margin: 20px 20px 20px 20px;
	max-width: 50%;
}

.rendered_html img.fit3qtrwidth {
	margin: 20px 20px 20px 20px;
	max-width: 75%;

}

.rendered_html img.inline {
	margin: 0;
	display: inline;
	width: 20px;
}

.rendered_html img.small {
	margin: 20px 0 20px 100px;
	width: 300px;
}

.rendered_html img.tiny {
	margin: 20px 0 20px 100px;
	max-width: 200px;
	max-height: 50px;
}

.rendered_html p { font-size:1.1.em;
	color: #4a4f54;
	font-family: 'Open Sans', sans-serif;
}

.rendered_html p.noteIcon {
	background-color: #F6F6F8;
	background-repeat: no-repeat;
	background-image: url("https://doc.splicemachine.com/zeppelin/images/zepNoteIcon.png");
	color: #4a4f54;
	margin: 20px 60px 20px 60px;
	padding: 5px 10px 5px 48px;
	font-weight: normal;
	z-index: -1;
	border: 2px solid #d6dbe0;
	border-radius: 12px;
	max-width: 75%;
	min-height: 48px;
}

.rendered_html p.noteIcon:before {
	content: "";
	color: #F39939;
	font-weight: 600;
}

.rendered_html p.noteImportant,
.rendered_html p.noteQuestion,
.rendered_html p.noteHint {
	background-color: #FFFFFF;
	color: #4a4f54;
	margin: 20px 60px 20px 60px;
	padding: 0;
	font-weight: normal;
	z-index: -1;
	border: none;
	max-width: 75%;
}

.rendered_html p.noteImportant:before {
	content: "Important: ";
	color: red;
	font-weight: bold;
	margin-left: -90px;
}

.rendered_html p.noteImportant {
	margin-left: 120px;
}


.rendered_html p.noteQuestion:before {
	content: "Question: ";
	font-weight: bold;
	color: #174e89;
}

.rendered_html p.noteHint:before {
	content: "Hint: ";
	font-weight: bold;
	color: #174e89;
}

.rendered_html p.noteNote,
.rendered_html p.notePlain {
	background-color: #F6F6F8;
	background-repeat: no-repeat;
	background-image: none;
	color: #4a4f54;
	margin: 20px 20px 20px 32px;
	padding: 5px 10px 5px 10px;
	font-weight: normal;
	z-index: -1;
	border: 2px solid #d6dbe0;
	border-radius: 12px;
	max-width: 75%;
	min-height: 0;
}

.rendered_html p.noteNote:before {
	content: "NOTE: ";
	color: #F39939;
	font-weight: 600;
}

.rendered_html span.ConsoleLink {
	font-weight: 600;
	color: #3ba3d8;
	text-transform: none;
}

.rendered_html span.ConsoleLink a:link {
	color: #3390db;
}

.rendered_html table {
    text-align: left;
	margin-left:24px;
	padding-left:0;
	font-family: 'Open Sans', sans-serif;
	color: #4a4f54;
}

.rendered_html th, .rendered_html td {
	text-align:left;
	font-size: 1.1em;
}

.rendered_html table.splicezep,
.rendered_html table.splicezepNoBorder,
.rendered_html table.splicezepOddEven
{
	table-layout: auto;
	min-width: 25%;
	max-width: 90%;
	border: 1px solid #8d9090;
	border-collapse: collapse;
	border-radius: 12p;
	margin: 20px 120px 20px 40px;
	word-wrap: break-word;
	overflow: auto;
	text-align: left;
	font-size: 1.1em;
}

table, table.tr, table.th,  table.td {
    display: block;
    text-align: left;
	font-size: inherit;
}

.rendered_html table.splicezepOddEven {
	border: 1px solid #F39939;
}

.rendered_html table.splicezepNoBorder
{
	border: none;
}

.rendered_html table.splicezep tr {

}

.rendered_html table.splicezepNoBorder tr {
	border: none;
	background-color: transparent;
}

.rendered_html table.splicezepOddEven tr:nth-child(even) {
	border: 1px solid #F39939;
	background-color: #fefefe;
}

.rendered_html table.splicezepOddEven tr:nth-child(odd) {
	border: 1px solid #F39939;
	background-color: #F6F6F8;
}

.rendered_html table.splicezep td,
.rendered_html table.splicezep td.CodeFont,
.rendered_html table.splicezep td.BoldFont,
.rendered_html table.splicezep td.ItalicFont {
	border: 1px solid #8d9090;
	padding: 8px;
	text-align: left;
	vertical-align: top;
	word-wrap: break-word;
	overflow: auto;
}

.rendered_html table.splicezepOddEven td,
.rendered_html table.splicezepOddEven td.CodeFont,
.rendered_html table.splicezepOddEven td.BoldFont,
.rendered_html table.splicezepOddEven td.ItalicFont {
	border: 1px solid #F39939;
	padding: 12px 8px 12px 8px;
	text-align: left;
	vertical-align: top;
	word-wrap: break-word;
	overflow: auto;
}

.rendered_html table.splicezepNoBorder td,
.rendered_html table.splicezepNoBorder td.CodeFont,
.rendered_html table.splicezepNoBorder td.BoldFont,
.rendered_html table.splicezepNoBorder td.ItalicFont {
	border: none;
	padding: 8px;
	text-align: left;
	vertical-align: top;
	word-wrap: break-word;
	overflow: auto;
}

.rendered_html table.splicezep td.CodeFont,
.rendered_html table.splicezepNoBorder td.CodeFont,
.rendered_html table.splicezepOddEven td.CodeFont
{
	font-family: "Courier";
}

.rendered_html table.splicezep td.ItalicFont,
.rendered_html table.splicezepNoBorder td.ItalicFont,
.rendered_html table.splicezepOddEven td.ItalicFont

{
	font-style: italic;
}

.rendered_html table.splicezep td.BoldFont,
.rendered_html table.splicezepNoBorder td.BoldFont,
.rendered_html table.splicezepOddEven td.BoldFont
{
	font-weight: bold;
}

.rendered_html table.splicezep td p:first-child,
.rendered_html table.splicezepNoBorder td p:first-child,
.rendered_html table.splicezepOddEven td p:first-child
{
	margin-top: 0;
}

.rendered_html table.splicezep td > ul > li:first-of-type,
.rendered_html table.splicezep td > ol > li:first-of-type,
.rendered_html table.splicezepNoBorder td > ul > li:first-of-type,
.rendered_html table.splicezepNoBorder td > ol > li:first-of-type,
.rendered_html table.splicezepOddEven td > ul > li:first-of-type,
.rendered_html table.splicezepOddEven td > ol > li:first-of-type
{
	margin-top: 0;
}

.rendered_html table.splicezep th,
.rendered_html table.splicezepNoBorder th,
.rendered_html table.splicezepOddEven th {
	border: 1px solid #8d9090;
	padding: 8px;
	text-align: left;
	vertical-align: top;
	word-wrap: break-word;
	overflow: auto;
	font-style: normal;
	font-weight: 600;
	background-color: #dcdcdc;
}

.rendered_html table.splicezepOddEven th {
	border: 1px solid #F39939;
}

.rendered_html table.splicezepNoBorder th {
	border: none;
	background-color: transparent;
}

.rendered_html table.splicezep img,
.rendered_html table.splicezepNoBorder img,
.rendered_html table.splizezepOddEven img
{
	border: none;
	width: auto;
	height: auto;
	margin: 0;
}

.rendered_html ul, 
.rendered_html ol {
    color: #4a4f54;
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
}


.rendered_html ul.italic,
.rendered_html ol.italic {
	font-style: italic;
}
