p.form-control-title {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	color: black;
}

div.noteIcon {
	background-color: #F6F6F8;
	background-repeat: no-repeat;
	background-image: url("https://doc.splicemachine.com/zeppelin/images/zepNoteIcon.png");
	color: #4a4f54;
	margin: 20px 60px 20px 60px;
	padding: 5px 10px 5px 48px;
	font-weight: normal;
	z-index: -1;
	border: 2px solid #d6dbe0;
	border-radius: 12px;
	max-width: 75%;
	min-height: 48px;
}
div.noteIcon:before {
	content: "";
	color: #F39939;
	font-weight: 600;
}

div.noteImportant,
div.noteQuestion,
div.noteHint {
	background-color: #FFFFFF;
	color: #4a4f54;
	margin: 20px 60px 20px 60px;
	padding: 5px 10px 5px 48px;
	font-weight: normal;
	z-index: -1;
	border: none;
	max-width: 75%;
}

div.noteImportant:before {
	content: "Important: ";
	color: red;
	font-weight: bold;
	margin-left: -90px;
}

div.noteImportant {
	margin-left: 120px;
}

div.noteQuestion:before {
	content: "Question: ";
	font-weight: bold;
	color: #174e89;
}


div.noteHint:before {
	content: "Hint: ";
	font-weight: bold;
	color: #174e89;
}


div.noteNote,
div.notePlain {
	background-color: #F6F6F8;
	background-repeat: no-repeat;
	background-image: none;
	color: #4a4f54;
	margin: 20px 20px 20px 32px;
	padding: 5px 10px 5px 10px;
	font-weight: normal;
	z-index: -1;
	border: 2px solid #d6dbe0;
	border-radius: 12px;
	max-width: 75%;
	min-height: 0;
}
div.noteNote:before {
	content: "NOTE: ";
	color: #F39939;
	font-weight: 600;
}

h1, h2, h3, h4, h5
{
	line-height: 105%;
	font-weight: 600;
	font-style: normal;
	margin: 2px, 0, 4px, 0;
	padding: 0;
}


h1
{
	font-size: 1.7em;
	margin-top: 0px;
	margin-bottom: 8px;
	padding-bottom: 10px;
	color: #f7a800;
}

h2
{
	font-size: 1.5em;
	margin-top: 50px;
	color: #3390db;
}

h3
{
	font-size: 1.3em;
	margin-top: 40px;
	color: #f7a800;
}

h4
{
	font-size: 1.2em;
	font-style: italic;
	margin-top: 30px;
	color: #174e89;
}

h5
{
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 25px;
	color: #606060;
}

blockquote
{
	margin-left: 40px;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
}

img.splice {
	margin: 20px 0 20px 100px;
}

img.fitwidth {
	margin: 20px 20px 20px 20px;
	max-width: 90%;
}

img.fithalfwidth {
	margin: 20px 20px 20px 20px;
	max-width: 50%;
}

img.fit3qtrwidth {
	margin: 20px 20px 20px 20px;
	max-width: 75%;

}

img.inline {
	margin: 0;
	display: inline;
	width: 20px;
}

img.small {
	margin: 20px 0 20px 100px;
	width: 300px;
}

img.tiny {
	margin: 20px 0 20px 100px;
	max-width: 200px;
	max-height: 50px;
}

p.form-control-title {
	direction: ltr;
}

p.noteIcon {
	background-color: #F6F6F8;
	background-repeat: no-repeat;
	background-image: url("https://doc.splicemachine.com/zeppelin/images/zepNoteIcon.png");
	color: #4a4f54;
	margin: 20px 60px 20px 60px;
	padding: 5px 10px 5px 48px;
	font-weight: normal;
	z-index: -1;
	border: 2px solid #d6dbe0;
	border-radius: 12px;
	max-width: 75%;
	min-height: 48px;
}

p.noteIcon:before {
	content: "";
	color: #F39939;
	font-weight: 600;
}

p.noteImportant,
p.noteQuestion,
p.noteHint {
	background-color: #FFFFFF;
	color: #4a4f54;
	margin: 20px 60px 20px 60px;
	padding: 0;
	font-weight: normal;
	z-index: -1;
	border: none;
	max-width: 75%;
}

p.noteImportant:before {
	content: "Important: ";
	color: red;
	font-weight: bold;
	margin-left: -90px;
}

p.noteImportant {
	margin-left: 120px;
}


p.noteQuestion:before {
	content: "Question: ";
	font-weight: bold;
	color: #174e89;
}

p.noteHint:before {
	content: "Hint: ";
	font-weight: bold;
	color: #174e89;
}

p.noteNote,
p.notePlain {
	background-color: #F6F6F8;
	background-repeat: no-repeat;
	background-image: none;
	color: #4a4f54;
	margin: 20px 20px 20px 32px;
	padding: 5px 10px 5px 10px;
	font-weight: normal;
	z-index: -1;
	border: 2px solid #d6dbe0;
	border-radius: 12px;
	max-width: 75%;
	min-height: 0;
}

p.noteNote:before {
	content: "NOTE: ";
	color: #F39939;
	font-weight: 600;
}

span.ConsoleLink {
	font-weight: 600;
	color: #3ba3d8;
	text-transform: none;
}

span.ConsoleLink a:link {
	color: #3390db;
}

table.splicezep,
table.splicezepNoBorder,
table.splicezepOddEven
{
	table-layout: auto;
	min-width: 25%;
	max-width: 90%;
	border: 1px solid #8d9090;
	border-collapse: collapse;
	border-radius: 12p;
	margin: 20px 120px 20px 40px;
	word-wrap: break-word;
	overflow: auto;
}

table.splicezepOddEven {
	border: 1px solid #F39939;
}

table.splicezepNoBorder
{
	border: none;
}

table.splicezep tr {

}

table.splicezepNoBorder tr {
	border: none;
	background-color: transparent;
}

table.splicezepOddEven tr:nth-child(even) {
	border: 1px solid #F39939;
	background-color: #fefefe;
}

table.splicezepOddEven tr:nth-child(odd) {
	border: 1px solid #F39939;
	background-color: #F6F6F8;
}

table.splicezep td,
table.splicezep td.CodeFont,
table.splicezep td.BoldFont,
table.splicezep td.ItalicFont {
 {
	border: 1px solid #8d9090;
	padding: 8px;
	text-align: left;
	vertical-align: top;
	word-wrap: break-word;
	overflow: auto;
}

table.splicezepOddEven td,
table.splicezepOddEven td.CodeFont,
table.splicezepOddEven td.BoldFont,
table.splicezepOddEven td.ItalicFont {
	border: 1px solid #F39939;
	padding: 12px 8px 12px 8px;
	text-align: left;
	vertical-align: top;
	word-wrap: break-word;
	overflow: auto;
}

table.splicezepNoBorder td,
table.splicezepNoBorder td.CodeFont,
table.splicezepNoBorder td.BoldFont,
table.splicezepNoBorder td.ItalicFont {
	border: none;
	padding: 8px;
	text-align: left;
	vertical-align: top;
	word-wrap: break-word;
	overflow: auto;
}

table.splicezep td.CodeFont,
table.splicezepNoBorder td.CodeFont,
table.splicezepOddEven td.CodeFont
{
	font-family: "Courier";
}

table.splicezep td.ItalicFont,
table.splicezepNoBorder td.ItalicFont,
table.splicezepOddEven td.ItalicFont

{
	font-style: italic;
}

table.splicezep td.BoldFont,
table.splicezepNoBorder td.BoldFont,
table.splicezepOddEven td.BoldFont
{
	font-weight: bold;
}

table.splicezep td p:first-child,
table.splicezepNoBorder td p:first-child,
table.splicezepOddEven td p:first-child
{
	margin-top: 0;
}

table.splicezep td > ul > li:first-of-type,
table.splicezep td > ol > li:first-of-type,
table.splicezepNoBorder td > ul > li:first-of-type,
table.splicezepNoBorder td > ol > li:first-of-type,
table.splicezepOddEven td > ul > li:first-of-type,
table.splicezepOddEven td > ol > li:first-of-type
{
	margin-top: 0;
}

table.splicezep th,
table.splicezepNoBorder th,
table.splicezepOddEven th {
	border: 1px solid #8d9090;
	padding: 8px;
	text-align: left;
	vertical-align: top;
	word-wrap: break-word;
	overflow: auto;
	font-style: normal;
	font-weight: 600;
	background-color: #dcdcdc;
}

table.splicezepOddEven th {
	border: 1px solid #F39939;
}

table.splicezepNoBorder th {
	border: none;
	background-color: transparent;
}

table.splicezep img,
table.splicezepNoBorder img,
table.splizezepOddEven img
{
	border: none;
	width: auto;
	height: auto;
	margin: 0;
}

ul.italic,
ol.italic {
	font-style: italic;
}
